.contPublication__info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;  
    margin-top: 16px;  
    background-color: rgba(4, 198, 251, .7);
}

.contPublicacion__resena{
    background-color: #fff;
    margin: 10px 20px;
    padding: 5px;
    font-size: 16px;
    text-align: justify;    
}

.contPublicacion__resena a{    
    color: rgb(63, 135, 223);
}

.contPublicacion{
    background-color: rgba(4, 198, 251, .7);
}